nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
}
/* 
nav > i {
    display: none;
} */

li {
	display: flex;
	flex-direction: row;
	margin-left: 0%;
	margin-right: 0px;
}

Span {
	font-size: xx-large;
	font-weight: bolder;
	margin-left: 4px;
	margin-left: 0%;
}

i.fa-solid.fa-bars {
	display: none;
}

.show {
	display: block;
	background-color: red;
}

#drop-down {
	display: none;
}
@media screen and (max-width: 375px) {
	div#First-nav {
		display: none;
	}
	i.fa-solid.fa-bars {
		margin-left: auto;
		margin-top: 20px;
		display: block;
		position: absolute;
		right: 5px;
	}
	nav {
		/* background-color: red; */
		width: 100%;
	}

	div#Second-nav {
		display: none;
	}

	aside > img {
		width: 200px;
	}
	div.hero-text > h1 {
		font-size: 22px;
	}

}

img.img-fluid.img-thumbnail {
	background-color: #392F52;
}

footer {
	color: aliceblue;
	height: 400px;
	width: 100%;
	background-color: #232027;
	padding-top: 50px;
}

picture {
	display: flex;
	flex-wrap: wrap;
	background-image: url(./images/bg-shorten-desktop.svg);
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-color:#392F52;
	flex-direction: column;
	text-align: center;
	color: aliceblue;
}

picture>button {
margin: auto;
}

aside > img {
	background-image: url(./images/illustration-working.svg);
}


body {
	margin: 0;
	padding-right: 0;
    padding-left: 0;
	font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

/* The hero image */
.hero-image {
 
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* position:relative; */
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}
aside > img {
    /* width: 300px; */
}
aside {
    
    position: relative;
    padding-left: 2%;
    margin: 0;
    padding-right: 0;
    
}

.hero-text {
    padding-left: 5%;
    justify-content: center;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#hero-button {
    border-radius:15px;
    background-color: rgb(43, 208, 208);
    
}

#hero-p {
 color: gray;
}

.input-background{
    background-color: #392F52;
    margin: 4%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 10px ;
}

input {
	width: 100%;
	padding: 10px;
    /* padding-right: 10em; */
    margin-right: 10px;
	box-sizing: border-box;
	border: 1px solid #418093;
	margin-bottom: 0;
     border-radius: 0.2rem;
}

#inputURL {
    justify-content: center;
   margin-left: 10%;
   margin-right: 10%;
    display: flex;
    background-color: #063d4d;
}

button {
	border: 4px solid black;
	background: #1488ab;
	color: white;
	padding: 10px 20px;
    border: none;
	font-weight: bold;
    border-radius: 0.2rem;
}

button:active {
	background: #063d4d;
}

#section-list {
	border: 1px solid #063d4d;
    list-style-type: none;

}

#new-list {
	border: 1px solid #063d4d;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
     margin-left: 10%;
   margin-right: 10%;

}


/* listItem.innerHTML = `<li id="new-list">
			<span id="span-one">${link.long}</span>
			<span id="span-two">${link.link}</span>
			</li>
			`; */
